@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0b0b0b;
  color: white;
}
.perspective { perspective: 1200px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }
.smooth-transform {
  will-change: transform, opacity;
}
button, a {
  cursor: pointer;
  transition: transform .15s ease;
}

button:active {
  transform: scale(.96);
}
